pymongo
google-generativeai
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
fastapi
uvicorn           
markdown
googlemaps
websockets
PyJWT
sendgrid
pydantic
pydantic[email]
python-multipart
redis
PyPDF2
gunicorn
python-dotenv
cryptography
paramiko
uvloop
httptools